@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Muli', sans-serif ;
}
/* Filters */
 .filters-card-header a {
     color: #0e0e0f !important;
     display: inline-block;
     text-transform: uppercase;
     font-weight: 700;
     width: 100%;
     text-decoration: none !important;
     font-size: 13px;
}
 .filters-card-body {
     padding: 14px 0 0;
}
 .filters-card-header a i {
     color: #2c7be5;
     margin: 2px -2px 0 0;
}
 .filters-card-body .custom-checkbox .custom-control-label::before {
     background-color: #edf2f9;
     border: #edf2f9 solid 0;
     box-shadow: none;
}
 .filters-card-body .custom-control-label::before {
     background-color: #edf2f9;
     border: #edf2f9 solid 0px;
     box-shadow: none !important;
}
 .filters-card-body .custom-control, .filters-card-body .custom-control-label {
     color: rgba(0,0,0,.5);
     cursor: pointer;
     margin: 0 0 5px;
     width: 100%;
     line-height: 25px;
     font-size: 13px;
}
 .filters-card-body .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
     background-color: #1fd0b6;
     border-color: #1fd0b6;
}
 .filters-search .form-control {
     border-color: #edf2f9;
     height: 44px;
     padding-left: 42px;
     font-size: 13px !important;
     font-weight: 300;
}
 .filters-search i {
     color: #5b7190;
     left: 17px;
     position: absolute;
     top: 15px;
}
 .filters-search {
     position: relative;
}
/* Start Header CSS */
 header {
     width: 100%;
     z-index: 100;
     padding: 0px;
     background: #eef2f5;
}
 header .banner-img {
     width: 100%;
}
 .osahan-nav-top a.navbar-brand img {
     height: 38px;
}
 .osahan-nav-mid {
     padding-top: 0px;
     padding-bottom: 0px;
}
 .osahan-nav-mid .nav-link {
     padding: 14px 14px !important;
     font-size: 13px !important;
     color: #676666 !important;
}
 .osahan-nav-mid .navbar-nav.ml-auto .nav-link img {
     width: 16px;
     margin: -2px 4px 0px 0px;
}
 .osahan-nav-mid .nav-item:first-child .nav-link {
     padding-left: 0px !important;
}
 .osahan-nav-mid .navbar-nav.ml-auto .nav-item:last-child .nav-link {
     padding-right: 0px !important;
}
 .osahan-nav-top .dropdown-menu {
     margin: 12px 0 0 0;
}
 .btn-icon {
     padding: 0;
     -webkit-box-pack: center;
     justify-content: center;
     overflow: hidden;
     border-radius: 100%;
     flex-shrink: 0;
     height: calc( (1rem * 1.5) + (0.5rem * 2) + (2px) ) !important;
     width: calc( (1rem * 1.5) + (0.5rem * 2) + (2px) ) !important;
     background: #f1f2f5;
}
 .btn i-feather, .btn .feather {
     height: 1rem;
     width: 1rem;
}
 .no-caret .dropdown-toggle::after {
     display: none;
}
 .dropdown-menu {
     font-size: 0.9rem;
     border: none;
     box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
}
 .dropdown-menu .dropdown-header {
     font-size: 0.7rem;
     display: -webkit-box;
     display: flex;
     -webkit-box-align: center;
     align-items: center;
}
 .dropdown-menu .dropdown-item {
     display: -webkit-box;
     display: flex;
     -webkit-box-align: center;
     align-items: center;
     padding: 6px 17px;
     font-size: 14px;
}
 .dropdown-menu .dropdown-item .dropdown-item-icon {
     margin-right: 0.5rem;
     line-height: 1;
}
 .dropdown-menu .dropdown-item .dropdown-item-icon svg {
     height: 0.9em;
     width: 0.9em;
}
 .dropdown-menu .dropdown-item.active .dropdown-item-icon, .dropdown-menu .dropdown-item:active .dropdown-item-icon {
     color: #fff;
}
 .dropdown .dropdown-toggle {
     display: -webkit-inline-box;
     display: inline-flex;
     -webkit-box-align: center;
     align-items: center;
}
 .dropdown .dropdown-toggle .dropdown-arrow {
     margin-left: 0.4rem;
     margin-right: 0;
     -webkit-transition: -webkit-transform 0.1s ease-in-out;
     transition: -webkit-transform 0.1s ease-in-out;
     transition: transform 0.1s ease-in-out;
     transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
     font-size: 0.6em;
}
 .dropdown.show .dropdown-toggle .dropdown-arrow {
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
}
 .dropdown-user .dropdown-menu {
     min-width: 13rem;
}
 .dropdown-user .dropdown-menu .dropdown-header {
     text-transform: none;
     letter-spacing: normal;
}
 .dropdown-user .dropdown-menu .dropdown-header .dropdown-user-img {
     height: 2.5rem;
     width: 2.5rem;
     margin-right: 1rem;
     border-radius: 100%;
}
 .dropdown-user .dropdown-menu .dropdown-header .dropdown-user-details {
     font-weight: 400;
}
 .dropdown-user .dropdown-menu .dropdown-header .dropdown-user-details .dropdown-user-details-name {
     color: #1f2d41;
     font-weight: 500;
     font-size: 0.9rem;
     max-width: 10rem;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
 .dropdown-user .dropdown-menu .dropdown-header .dropdown-user-details .dropdown-user-details-email {
     color: #687281;
     font-size: 0.75rem;
     max-width: 10rem;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
 .dropdown-user .dropdown-menu .dropdown-item {
     -webkit-box-align: center;
     align-items: center;
}
 .dropdown-user .dropdown-menu .dropdown-item .dropdown-item-icon {
     color: #a2acba;
}
 .dropdown-user .dropdown-menu .dropdown-item .dropdown-item-icon svg {
     vertical-align: inherit;
}
 .dropdown-user .dropdown-menu .dropdown-item:active .dropdown-item-icon {
     color: #fff;
}
 .dropdown-notifications {
     position: static;
}
 .dropdown-notifications .dropdown-menu {
     padding-top: 0;
     padding-bottom: 0;
     width: calc(100% - 1.5rem);
     right: 0.75rem;
     max-height: 19rem;
     overflow-y: auto;
     overflow-x: hidden;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-header {
     background-color: #222326;
     color: #fff;
     padding-top: 1rem;
     padding-bottom: 1rem;
     line-height: 1;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-header svg {
     height: 0.7rem;
     width: 0.7rem;
     opacity: 0.7;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-item {
     padding-top: 1rem;
     padding-bottom: 1rem;
     border-bottom: 1px solid #e3e6ec;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-item .dropdown-notifications-item-icon, .dropdown-notifications .dropdown-menu .dropdown-notifications-item .dropdown-notifications-item-img {
     height: 2.5rem;
     width: 2.5rem;
     border-radius: 100%;
     margin-right: 1rem;
     flex-shrink: 0;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-item .dropdown-notifications-item-icon {
     background-color: #0061f2;
     display: -webkit-box;
     display: flex;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-item .dropdown-notifications-item-icon svg {
     text-align: center;
     font-size: 0.85rem;
     color: #fff;
     height: 0.85rem;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-item .dropdown-notifications-item-content .dropdown-notifications-item-content-details {
     color: #a2acba;
     font-size: 0.7rem;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-item .dropdown-notifications-item-content .dropdown-notifications-item-content-text {
     font-size: 0.9rem;
     max-width: calc(100vw - 8.5rem);
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-item .dropdown-notifications-item-content .dropdown-notifications-item-content-actions .btn-sm, .dropdown-notifications .dropdown-menu .dropdown-notifications-item .dropdown-notifications-item-content .dropdown-notifications-item-content-actions .btn-group-sm > .btn {
     font-size: 0.6rem;
     padding: 0.15rem 0.35rem;
     cursor: pointer;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-footer {
     -webkit-box-pack: center;
     justify-content: center;
     font-size: 0.8rem;
     padding-top: 0.75rem;
     padding-bottom: 0.75rem;
     color: #a2acba;
     cursor: pointer;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-footer .dropdown-notifications-footer-icon {
     height: 1em;
     width: 1em;
     margin-left: 0.25rem;
}
 .dropdown-notifications .dropdown-menu .dropdown-notifications-footer:active {
     color: #fff;
}
 .dropdown-notifications .dropdown-menu::-webkit-scrollbar {
     width: 0.5rem;
}
 .dropdown-notifications .dropdown-menu::-webkit-scrollbar-thumb {
     border-radius: 10rem;
     height: 3em;
     border-width: 0.1rem;
     border-style: solid;
     background-clip: padding-box;
     background-color: #c5ccd6;
     border-color: rgba(0, 0, 0, 0);
}
 .dropdown-notifications .dropdown-menu::-webkit-scrollbar-track {
     background-color: rgba(31, 45, 65, 0.05);
}
 .dropdown-notifications .dropdown-menu::-webkit-scrollbar-button {
     width: 0;
     height: 0;
     display: none;
}
 .dropdown-notifications .dropdown-menu::-webkit-scrollbar-corner {
     background-color: transparent;
}



 /* responsive design */
 @media(max-width:1024px) {
     .sidenav, .submenu, .search a.green-btn, .third-menu, .main-page .breadcrumb {
         display: none;
    }
     .review-section, .review-list {
         display: none;
    }
     .main-page {
         padding: 0;
    }
     .seller-overview {
         flex-wrap: wrap;
    }
     .seller-overview .user-info {
         margin-left: 40px;
         border-left: none;
    }
     .main-page .left ul.metadata {
         flex-flow: column;
    }
     .main-page .left ul.metadata li {
         width: 100%;
    }
     .main-page .left ul.metadata li:first-child {
         margin-bottom: 10px;
    }
     .profile-card .user-profile-image {
         flex-flow: column;
         align-items: center;
    }
     .main-page .profile-card .right {
         text-align: center;
         width: 100%;
    }
     .profile-card .user-profile-image .profile-name {
         align-items: center;
    }
     .main-page .profile-card .right .user-info .user-info-rating {
         justify-content: center;
    }
     .main-page .profile-card .right .user-info a {
         width: 100%;
    }
     .main-page .profile-card .right .user-info {
         padding: 0;
    }
     .main-page .stats-desc .user-stats li {
         width: 50%;
         flex: auto;
         margin-bottom: 10px;
    }
     .main-page .stats-desc .user-stats {
         flex-wrap: wrap;
    }
     .table-package {
         display: none;
    }
     .main-page .tags ul {
         flex-wrap: wrap;
    }
}
 @media(max-width:767px) {
     .home-logo {
         margin-right: 0;
         width: 100%;
         margin-bottom: 20px;
         text-align: center;
    }
     .recommended .inner-slider {
         margin-bottom: 15px;
    }
     .container-fluid {
         padding: 24px;
    }
     header {
         height: auto;
    }
     .copyright {
         flex-wrap: wrap;
         align-items: center;
         flex-flow: column;
    }
     .copyright p {
         margin-left: 0;
    }
     .copyright .social {
         padding: 20px 0 0;
         margin: auto;
    }
     footer .d-flex {
         flex-flow: column wrap;
    }
     .faqs ul li{
         flex: 0 0 100%;
         max-width: 100%;
    }
     .web-design-menu ul{
         text-align: center;
    }
     .web-design-menu ul li {
         margin: 0 auto 30px;
    }
     .main-page.best-selling .view_slider.recommended {
         padding: 32px 0;
    }
}
 .select2-container {
     width: 100% !important;
}
 @media (min-width: 0px) and (max-width: 767px) {
     .container {
         max-width: 100%;
    }
     .navbar-expand-lg .navbar-nav {
         -ms-flex-direction: row;
         flex-direction: row !important;
    }
     .navbar-nav .dropdown-menu {
         position: absolute;
         float: none;
    }
     .osahan-nav-top, .osahan-nav-mid {
         padding: 9px 15px !important;
    }
     .navbar-toggler {
         border: none;
         padding: 0px;
    }
     .osahan-nav-mid .nav-link {
         padding: 9px 10px !important;
    }
     .osahan-nav-mid .navbar-collapse {
         position: absolute;
         background: #fff;
         top: 55px;
         right: 0px;
         left: 0px;
         padding: 15px;
         border-top: 1px solid #eaebec;
         z-index: 9;
    }
     .osahan-nav-mid .navbar-collapse .navbar-nav {
         flex-direction: column;
    }
     .osahan-nav-mid .navbar-collapse .navbar-nav .nav-link {
         padding: 10px 0px !important;
    }
     .osahan-nav-mid .navbar-collapse .navbar-nav .dropdown-menu {
         position: static;
    }
     .osahan-nav-top .nav-item.dropdown {
         position: static;
    }
     .osahan-nav-top .nav-item .dropdown-menu {
         width: calc(100% - 1.5rem);
         left: 0;
         right: 0;
         margin: auto;
    }
     .osahan-nav-top .dropdown-menu {
         margin: 0px;
    }
     .footer-list {
         width: 100%;
         text-align: center;
         margin-bottom: 36px;
    }
     .homepage-search-title {
         text-align: center;
    }
     .testimonial {
        display: unset !important;
        flex-direction: unset;
        background: #fff;
        align-items: unset;
    }
     .testimonial .video-modal {
         display: unset;
         align-items: unset;
    }
     .testimonial .video-modal img {
         width: 100%;
         height: auto;
    }
     .testimonial .text-content {
         background: #fff;
         padding: 27px;
    }
     .popular {
         display: none;
    }
     .homepage-search-block .col-lg-5 {
         display: none;
    }
     .trusted-by {
         display: none;
    }
     .guide {
         margin-bottom: 15px;
    }
     .recommended a img.img-fluid {
         height: auto;
    }
     .best-selling .col-md-3 {
         margin-bottom: 5px;
    }
     .profile-card .user-profile-image .profile-name {
         padding: 0px;
    }
     .profile-card .user-profile-image .profile-name .seller-link {
         padding: 0px;
    }
     .profile-card .user-profile-image label img {
         margin: 0 0 14px 0;
    }
     .profile-right.ml-auto {
         position: absolute;
         top: -47px;
         right: 15px;
    }
     .osahan-login {
         max-width: 300px;
         margin: auto;
    }
}
 @media (min-width: 768px) and (max-width: 1023px) {
     .container {
         max-width: 100%;
    }
     .navbar-expand-lg .navbar-nav {
         -ms-flex-direction: row;
         flex-direction: row;
    }
     .navbar-nav .dropdown-menu {
         position: absolute;
         float: none;
    }
     .osahan-nav-top, .osahan-nav-mid {
         padding: 9px 15px !important;
    }
     .navbar-toggler {
         border: none;
         padding: 0px;
    }
     .osahan-nav-mid .nav-link {
         padding: 9px 10px !important;
    }
     .osahan-nav-mid .navbar-collapse {
         position: absolute;
         background: #fff;
         top: 55px;
         right: 0px;
         left: 0px;
         padding: 15px;
         border-top: 1px solid #eaebec;
         z-index: 9;
    }
     .osahan-nav-mid .navbar-collapse .navbar-nav {
         flex-direction: column;
    }
     .osahan-nav-mid .navbar-collapse .navbar-nav .nav-link {
         padding: 10px 0px !important;
    }
     .osahan-nav-mid .navbar-collapse .navbar-nav .dropdown-menu {
         position: static;
    }
     .osahan-nav-top .nav-item.dropdown {
         position: static;
    }
     .osahan-nav-top .nav-item .dropdown-menu {
         width: calc(100% - 1.5rem);
         left: 0;
         right: 0;
         margin: auto;
    }
     .osahan-nav-top .dropdown-menu {
         margin: 0px;
    }
     .homepage-search-title {
         text-align: center;
    }
     .testimonial {
        display: unset !important;
        flex-direction: unset;
        background: #fff;
        align-items: unset;
    }
     .testimonial .video-modal {
         display: unset;
         align-items: unset;
    }
     .testimonial .video-modal img {
         width: 100%;
         height: auto;
    }
     .testimonial .text-content {
         background: #fff;
         padding: 27px;
    }
     .popular {
         display: none;
    }
     .homepage-search-block .col-lg-5 {
         display: none;
    }
     .trusted-by {
         display: none;
    }
     .guide {
         margin-bottom: 15px;
    }
     .recommended a img.img-fluid {
         height: auto;
    }
     .best-selling .col-md-3 {
         margin-bottom: 5px;
    }
     .profile-card .user-profile-image .profile-name {
         padding: 0px;
    }
     .profile-card .user-profile-image .profile-name .seller-link {
         padding: 0px;
    }
     .profile-card .user-profile-image label img {
         margin: 0 0 14px 0;
    }
     .profile-right.ml-auto {
         position: absolute;
         top: -47px;
         right: 15px;
    }
     .osahan-login {
         max-width: 300px;
         margin: auto;
    }
}
 @media (min-width: 1024px) and (max-width: 1200px) {
     .container {
         max-width: 100%;
    }
}
